<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/examn_logic.js' %}"></script>
</head>
<body>
<div id="der1">

</div>
<div id="der2">

</div>
<div id="der3">

</div>
<div id="der4">

</div>
<div id="der5">

</div>
<button onclick="alterCorrent()" type="button" id="b1">start</button>
<button onclick="printImagePng()" type="button" id="b2">print</button>
</body>
</html>